@font-face {
font-family: Rubik;
src: local("Rubik"),
    url(./fonts/Rubik-Medium.ttf) format("truetype");
}

@font-face {
font-family: Rubik-Light;
src: local("Rubik-Light"),
    url(./fonts/Rubik-Light.ttf) format("truetype");
}

.cardWrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.cardClass{
    width: 20rem;
    color: white;

    font-family: "Rubik", sans-serif;
    font-size: 17.5px;
}

.cardClass:hover{
    cursor:pointer;
}

@media only screen and (max-width: 800px) {
    .cardWrapper{
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
}